*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: hsl(0, 0%, 20%);
    color: white;  
}
.logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}
header nav a {
    margin-right:25px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.hero{
    padding: 60px 20px;
    background: #f4f4f4;
    text-align: center;
    flex: 1;
}
.hero h2{
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 15vh;
   
}
.hero .cta{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
footer{
    padding: 20px 0 ;
    background: #222;
    color: white;
    text-align: center;
}
.social-links{
    margin-top: 10px;
}
.social-links a{
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.social-links a:hover{
    color:#00aced;
}
footer .social-links a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: flex-start;
    }
     header nav{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
     }
      header nav a{
        margin: 5px 0;
      }
}